
Presentation Tutorial/Presentation.aux
Presentation Tutorial/Presentation.log
Presentation Tutorial/Presentation.nav
Presentation Tutorial/Presentation.out
Presentation Tutorial/Presentation.pdf
Presentation Tutorial/Presentation.synctex.gz
Presentation Tutorial/Presentation.toc
Article Tutorial/Tutorial.log
Article Tutorial/Tutorial.pdf
Article Tutorial/Tutorial.synctex.gz
Article Tutorial/Tutorial.synctex.gz
Article Tutorial/Tutorial.pdf
Article Tutorial/Tutorial.pdf
Article Tutorial/Tutorial.synctex.gz
*.gz
*.pdf
Article Tutorial/Tutorial.synctex.gz
Article Tutorial/Tutorial.pdf
Article Tutorial/Tutorial.aux
Article Tutorial/Tutorial.log
*.pdf
*.out
*.log
*.aux
*.gz
*.toc
Article Tutorial/Tutorial.log
*.pdf
*.gz
*.log
